resources/assets/static/biz1/validationcheck_104.xsd

<?xml version="1.0" encoding="euc-kr"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>이 문서는 공사원가호환규정 V1.0.4 XML스키마이다. 최종수정일 2018-11-29
- 코드 규정 관련 보완
- 기 1.0.1 버전 중 내역서의 코드 관련 보완(텍스트 사용에 따른 수정) 
- 기 1.0.2 버전 중 작성정보에 파일검증여부추가(G2B업로드에 따른 수정)
- 기 1.0.2 버전 에 표준시장단가 추가. 스키마 버전 1.0.3으로 업그래이드 (2015-07-14)
- 기 1.0.3 버전 에 내역공종코드형식 max length 변경(16->20) (2017-04-19)
- 기 1.0.4 건축공사의 사업내용 정보 추가 (2018-11-29)
</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="공사원가호환규정" type="공사원가호환규정형식"/>
	<xsd:complexType name="공사원가호환규정형식">
		<xsd:sequence>
			<xsd:element name="스키마버전">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					  <xsd:enumeration value="1.0.4"/>
					  <xsd:enumeration value="1.0.3"/>
					  <xsd:enumeration value="1.0.2"/>
						<xsd:enumeration value="1.0.1"/>
						<xsd:enumeration value="1.0.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="작성정보" type="작성정보형식"/>
			<xsd:element name="공사정보" type="공사정보형식"/>
			<xsd:element name="공사내역서" type="공사내역서형식"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="공사정보형식">
		<xsd:sequence>
			<xsd:element name="공사관리번호">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="주공사">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="토목공사"/>
						<xsd:enumeration value="건축공사"/>
						<xsd:enumeration value="설비공사"/>
						<xsd:enumeration value="전기공사"/>
						<xsd:enumeration value="통신공사"/>
						<xsd:enumeration value="조경공사"/>
						<xsd:enumeration value="소방공사"/>
						<xsd:enumeration value="문화재수리공사"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="공사명">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="비고">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="기계경비산출" type="기계경비산출형식" minOccurs="0"/>
			<xsd:element name="건축공사사업내용" type="건축공사사업내용형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="건축공사사업내용형식">
		<xsd:sequence>
			<xsd:element name="연면적" type="xsd:double"/>
			<xsd:element name="대지면적" type="xsd:double"/>
			<xsd:element name="건축면적" type="xsd:double"/>
			<xsd:element name="조경면적" type="xsd:double"/>
			<xsd:element name="지하층연면적" type="xsd:double"/>
			<xsd:element name="용적률" type="xsd:double"/>
			<xsd:element name="건폐율" type="xsd:double"/>
			<xsd:element name="기준층층고" type="xsd:double"/>
			<xsd:element name="최고높이" type="xsd:double"/>
			<xsd:element name="최대지하층수" type="xsd:double"/>
			<xsd:element name="최대지상층수" type="xsd:double"/>
			<xsd:element name="공사일수" type="xsd:double"/>
			<xsd:element name="공사현장지역코드">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="11110"/>
						<xsd:enumeration value="11140"/>
						<xsd:enumeration value="11170"/>
						<xsd:enumeration value="11200"/>
						<xsd:enumeration value="11215"/>
						<xsd:enumeration value="11230"/>
						<xsd:enumeration value="11260"/>
						<xsd:enumeration value="11290"/>
						<xsd:enumeration value="11305"/>
						<xsd:enumeration value="11320"/>
						<xsd:enumeration value="11350"/>
						<xsd:enumeration value="11380"/>
						<xsd:enumeration value="11410"/>
						<xsd:enumeration value="11440"/>
						<xsd:enumeration value="11470"/>
						<xsd:enumeration value="11500"/>
						<xsd:enumeration value="11530"/>
						<xsd:enumeration value="11545"/>
						<xsd:enumeration value="11560"/>
						<xsd:enumeration value="11590"/>
						<xsd:enumeration value="11620"/>
						<xsd:enumeration value="11650"/>
						<xsd:enumeration value="11680"/>
						<xsd:enumeration value="11710"/>
						<xsd:enumeration value="11740"/>
						<xsd:enumeration value="26110"/>
						<xsd:enumeration value="26140"/>
						<xsd:enumeration value="26170"/>
						<xsd:enumeration value="26200"/>
						<xsd:enumeration value="26230"/>
						<xsd:enumeration value="26260"/>
						<xsd:enumeration value="26290"/>
						<xsd:enumeration value="26320"/>
						<xsd:enumeration value="26350"/>
						<xsd:enumeration value="26380"/>
						<xsd:enumeration value="26410"/>
						<xsd:enumeration value="26440"/>
						<xsd:enumeration value="26470"/>
						<xsd:enumeration value="26500"/>
						<xsd:enumeration value="26530"/>
						<xsd:enumeration value="26710"/>
						<xsd:enumeration value="27110"/>
						<xsd:enumeration value="27140"/>
						<xsd:enumeration value="27170"/>
						<xsd:enumeration value="27200"/>
						<xsd:enumeration value="27230"/>
						<xsd:enumeration value="27260"/>
						<xsd:enumeration value="27290"/>
						<xsd:enumeration value="27710"/>
						<xsd:enumeration value="28110"/>
						<xsd:enumeration value="28140"/>
						<xsd:enumeration value="28170"/>
						<xsd:enumeration value="28177"/>
						<xsd:enumeration value="28185"/>
						<xsd:enumeration value="28200"/>
						<xsd:enumeration value="28237"/>
						<xsd:enumeration value="28245"/>
						<xsd:enumeration value="28260"/>
						<xsd:enumeration value="28710"/>
						<xsd:enumeration value="28720"/>
						<xsd:enumeration value="29110"/>
						<xsd:enumeration value="29140"/>
						<xsd:enumeration value="29155"/>
						<xsd:enumeration value="29170"/>
						<xsd:enumeration value="29200"/>
						<xsd:enumeration value="30110"/>
						<xsd:enumeration value="30140"/>
						<xsd:enumeration value="30170"/>
						<xsd:enumeration value="30200"/>
						<xsd:enumeration value="30230"/>
						<xsd:enumeration value="31110"/>
						<xsd:enumeration value="31140"/>
						<xsd:enumeration value="31170"/>
						<xsd:enumeration value="31200"/>
						<xsd:enumeration value="31710"/>
						<xsd:enumeration value="36000"/>
						<xsd:enumeration value="41111"/>
						<xsd:enumeration value="41113"/>
						<xsd:enumeration value="41115"/>
						<xsd:enumeration value="41117"/>
						<xsd:enumeration value="41131"/>
						<xsd:enumeration value="41133"/>
						<xsd:enumeration value="41135"/>
						<xsd:enumeration value="41150"/>
						<xsd:enumeration value="41171"/>
						<xsd:enumeration value="41173"/>
						<xsd:enumeration value="41195"/>
						<xsd:enumeration value="41197"/>
						<xsd:enumeration value="41199"/>
						<xsd:enumeration value="41210"/>
						<xsd:enumeration value="41220"/>
						<xsd:enumeration value="41250"/>
						<xsd:enumeration value="41271"/>
						<xsd:enumeration value="41273"/>
						<xsd:enumeration value="41281"/>
						<xsd:enumeration value="41285"/>
						<xsd:enumeration value="41287"/>
						<xsd:enumeration value="41290"/>
						<xsd:enumeration value="41310"/>
						<xsd:enumeration value="41360"/>
						<xsd:enumeration value="41370"/>
						<xsd:enumeration value="41390"/>
						<xsd:enumeration value="41410"/>
						<xsd:enumeration value="41430"/>
						<xsd:enumeration value="41450"/>
						<xsd:enumeration value="41461"/>
						<xsd:enumeration value="41463"/>
						<xsd:enumeration value="41465"/>
						<xsd:enumeration value="41480"/>
						<xsd:enumeration value="41500"/>
						<xsd:enumeration value="41550"/>
						<xsd:enumeration value="41570"/>
						<xsd:enumeration value="41590"/>
						<xsd:enumeration value="41610"/>
						<xsd:enumeration value="41630"/>
						<xsd:enumeration value="41650"/>
						<xsd:enumeration value="41670"/>
						<xsd:enumeration value="41800"/>
						<xsd:enumeration value="41820"/>
						<xsd:enumeration value="41830"/>
						<xsd:enumeration value="42110"/>
						<xsd:enumeration value="42130"/>
						<xsd:enumeration value="42150"/>
						<xsd:enumeration value="42170"/>
						<xsd:enumeration value="42190"/>
						<xsd:enumeration value="42210"/>
						<xsd:enumeration value="42230"/>
						<xsd:enumeration value="42720"/>
						<xsd:enumeration value="42730"/>
						<xsd:enumeration value="42750"/>
						<xsd:enumeration value="42760"/>
						<xsd:enumeration value="42770"/>
						<xsd:enumeration value="42780"/>
						<xsd:enumeration value="42790"/>
						<xsd:enumeration value="42800"/>
						<xsd:enumeration value="42810"/>
						<xsd:enumeration value="42820"/>
						<xsd:enumeration value="42830"/>
						<xsd:enumeration value="43111"/>
						<xsd:enumeration value="43112"/>
						<xsd:enumeration value="43113"/>
						<xsd:enumeration value="43114"/>
						<xsd:enumeration value="43130"/>
						<xsd:enumeration value="43150"/>
						<xsd:enumeration value="43720"/>
						<xsd:enumeration value="43730"/>
						<xsd:enumeration value="43740"/>
						<xsd:enumeration value="43745"/>
						<xsd:enumeration value="43750"/>
						<xsd:enumeration value="43760"/>
						<xsd:enumeration value="43770"/>
						<xsd:enumeration value="43800"/>
						<xsd:enumeration value="44131"/>
						<xsd:enumeration value="44133"/>
						<xsd:enumeration value="44150"/>
						<xsd:enumeration value="44180"/>
						<xsd:enumeration value="44200"/>
						<xsd:enumeration value="44210"/>
						<xsd:enumeration value="44230"/>
						<xsd:enumeration value="44250"/>
						<xsd:enumeration value="44270"/>
						<xsd:enumeration value="44710"/>
						<xsd:enumeration value="44730"/>
						<xsd:enumeration value="44760"/>
						<xsd:enumeration value="44770"/>
						<xsd:enumeration value="44790"/>
						<xsd:enumeration value="44800"/>
						<xsd:enumeration value="44810"/>
						<xsd:enumeration value="44825"/>
						<xsd:enumeration value="45111"/>
						<xsd:enumeration value="45113"/>
						<xsd:enumeration value="45130"/>
						<xsd:enumeration value="45140"/>
						<xsd:enumeration value="45180"/>
						<xsd:enumeration value="45190"/>
						<xsd:enumeration value="45210"/>
						<xsd:enumeration value="45710"/>
						<xsd:enumeration value="45720"/>
						<xsd:enumeration value="45730"/>
						<xsd:enumeration value="45740"/>
						<xsd:enumeration value="45750"/>
						<xsd:enumeration value="45770"/>
						<xsd:enumeration value="45790"/>
						<xsd:enumeration value="45800"/>
						<xsd:enumeration value="46110"/>
						<xsd:enumeration value="46130"/>
						<xsd:enumeration value="46150"/>
						<xsd:enumeration value="46170"/>
						<xsd:enumeration value="46230"/>
						<xsd:enumeration value="46710"/>
						<xsd:enumeration value="46720"/>
						<xsd:enumeration value="46730"/>
						<xsd:enumeration value="46770"/>
						<xsd:enumeration value="46780"/>
						<xsd:enumeration value="46790"/>
						<xsd:enumeration value="46800"/>
						<xsd:enumeration value="46810"/>
						<xsd:enumeration value="46820"/>
						<xsd:enumeration value="46830"/>
						<xsd:enumeration value="46840"/>
						<xsd:enumeration value="46860"/>
						<xsd:enumeration value="46870"/>
						<xsd:enumeration value="46880"/>
						<xsd:enumeration value="46890"/>
						<xsd:enumeration value="46900"/>
						<xsd:enumeration value="46910"/>
						<xsd:enumeration value="47111"/>
						<xsd:enumeration value="47113"/>
						<xsd:enumeration value="47130"/>
						<xsd:enumeration value="47150"/>
						<xsd:enumeration value="47170"/>
						<xsd:enumeration value="47190"/>
						<xsd:enumeration value="47210"/>
						<xsd:enumeration value="47230"/>
						<xsd:enumeration value="47250"/>
						<xsd:enumeration value="47280"/>
						<xsd:enumeration value="47290"/>
						<xsd:enumeration value="47720"/>
						<xsd:enumeration value="47730"/>
						<xsd:enumeration value="47750"/>
						<xsd:enumeration value="47760"/>
						<xsd:enumeration value="47770"/>
						<xsd:enumeration value="47820"/>
						<xsd:enumeration value="47830"/>
						<xsd:enumeration value="47840"/>
						<xsd:enumeration value="47850"/>
						<xsd:enumeration value="47900"/>
						<xsd:enumeration value="47920"/>
						<xsd:enumeration value="47930"/>
						<xsd:enumeration value="47940"/>
						<xsd:enumeration value="48121"/>
						<xsd:enumeration value="48123"/>
						<xsd:enumeration value="48125"/>
						<xsd:enumeration value="48127"/>
						<xsd:enumeration value="48129"/>
						<xsd:enumeration value="48170"/>
						<xsd:enumeration value="48220"/>
						<xsd:enumeration value="48240"/>
						<xsd:enumeration value="48250"/>
						<xsd:enumeration value="48270"/>
						<xsd:enumeration value="48310"/>
						<xsd:enumeration value="48330"/>
						<xsd:enumeration value="48720"/>
						<xsd:enumeration value="48730"/>
						<xsd:enumeration value="48740"/>
						<xsd:enumeration value="48820"/>
						<xsd:enumeration value="48840"/>
						<xsd:enumeration value="48850"/>
						<xsd:enumeration value="48860"/>
						<xsd:enumeration value="48870"/>
						<xsd:enumeration value="48880"/>
						<xsd:enumeration value="48890"/>
						<xsd:enumeration value="50000"/>
						<xsd:enumeration value="50110"/>
						<xsd:enumeration value="50130"/>
						<xsd:enumeration value="99000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="공사현장주소">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="주차대수" type="xsd:double"/>
			<xsd:element name="외피면적" type="xsd:double"/>
			<xsd:element name="주요외부마감재">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="120"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="전용면적" type="xsd:double"/>
			<xsd:element name="공용면적" type="xsd:double"/>
			<xsd:element name="건축법상용도">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="설계특이사항">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="2000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="조감도">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="시설물유형">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="일반청사"/>
						<xsd:enumeration value="대형청사"/>
						<xsd:enumeration value="일반형초중고"/>
						<xsd:enumeration value="복합형초중고"/>
						<xsd:enumeration value="강의형대학교"/>
						<xsd:enumeration value="복합형대학교"/>
						<xsd:enumeration value="일반형수련시설"/>
						<xsd:enumeration value="복합형수련시설"/>
						<xsd:enumeration value="도서관"/>
						<xsd:enumeration value="야외형체육시설"/>
						<xsd:enumeration value="복합형체육시설"/>
						<xsd:enumeration value="일반형전시시설"/>
						<xsd:enumeration value="특수형전시시설"/>
						<xsd:enumeration value="일반형의료시설"/>
						<xsd:enumeration value="중규모형의료시설"/>
						<xsd:enumeration value="대형의료시설"/>
						<xsd:enumeration value="일반형연구소"/>
						<xsd:enumeration value="실험용연구시설"/>
						<xsd:enumeration value="첨단연구시설"/>
						<xsd:enumeration value="일반형공장"/>
						<xsd:enumeration value="특수형공장"/>
						<xsd:enumeration value="일반형창고"/>
						<xsd:enumeration value="특수형창고"/>
						<xsd:enumeration value="기숙사"/>
						<xsd:enumeration value="노유자시설"/>
						<xsd:enumeration value="복지시설"/>
						<xsd:enumeration value="기타시설"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="철거공사포함여부">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="철거공사 포함"/>
						<xsd:enumeration value="철거공사 미포함"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="지역구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="비혼잡지역(일반)"/>
						<xsd:enumeration value="혼잡지역(특수)"/>
						<xsd:enumeration value="산간도서지역(특수)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="지반공사.지반형태">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="일반지반"/>
						<xsd:enumeration value="특수지반"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="지반공사.흙막이공사">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="흙막이공사가 없는 경우"/>
						<xsd:enumeration value="흙막이공사가 있는 경우"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="구조형식">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="철골조"/>
						<xsd:enumeration value="철골철근콘크리트조"/>
						<xsd:enumeration value="철근콘크리트조"/>
						<xsd:enumeration value="기타"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="내진등급">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="내진설계특등급"/>
						<xsd:enumeration value="내진설계1등급"/>
						<xsd:enumeration value="내진설계2등급"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="건축물인증.신재생에너지">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="대상시설 해당 있음"/>
						<xsd:enumeration value="대상시설 해당 없음"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="건축물인증.에너지효율등급">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1+++ 등급"/>
						<xsd:enumeration value="1등급 ~ 1++등급"/>
						<xsd:enumeration value="2등급 ~ 4등급"/>
						<xsd:enumeration value="5등급 ~ 7등급"/>
						<xsd:enumeration value="해당 없음"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="건축물인증.녹색건축인증">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="최우수"/>
						<xsd:enumeration value="우수"/>
						<xsd:enumeration value="우량"/>
						<xsd:enumeration value="일반"/>
						<xsd:enumeration value="해당 없음"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="건축물인증.BF인증">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="해당 있음"/>
						<xsd:enumeration value="해당 없음"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="건물외형">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="정형구조(일반)"/>
						<xsd:enumeration value="비정형구조(특수)"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="외부마감자재등급">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="고급"/>
						<xsd:enumeration value="일반"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="냉난방방식">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="개별 방식"/>
						<xsd:enumeration value="중앙 집중 방식"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>		
	<xsd:complexType name="작성정보형식">
		<xsd:sequence>
			<xsd:element name="작성업체명">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="프로그램명">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="프로그램버전">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="파일제작일" type="xsd:date"/>
			<xsd:element name="파일검증여부" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="건축공사사업내용작성여부" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="실적단가형식">
		<xsd:sequence>
			<xsd:element name="항목구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="실적공사비"/>
						<xsd:enumeration value="시장시공가격"/>
						<xsd:enumeration value="표준시장단가"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="공종구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="토목공사"/>
						<xsd:enumeration value="건축공사"/>
						<xsd:enumeration value="기계공사"/>
						<xsd:enumeration value="전기공사"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="실적공사비코드" type="실적공사비코드형식"/>
			<xsd:element name="품명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="재료비단가" type="xsd:double"/>
			<xsd:element name="노무비단가" type="xsd:double"/>
			<xsd:element name="경비단가" type="xsd:double"/>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="노임산출근거형식">
		<xsd:sequence>
			<xsd:element name="산출수량" type="xsd:double"/>
			<xsd:element name="노임별공량" type="개별노임산출형식" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="노임할증" type="xsd:double"/>
			<xsd:element name="공량품셈근거" type="비고형식"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="일위대가상세형식">
		<xsd:sequence>
			<xsd:element name="자원구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="자재"/>
						<xsd:enumeration value="노무"/>
						<xsd:enumeration value="경비항목"/>
						<xsd:enumeration value="일위대가"/>
						<xsd:enumeration value="중기단가산출"/>
						<xsd:enumeration value="기계경비"/>
						<xsd:enumeration value="실적공사비"/>
						<xsd:enumeration value="시장시공가격"/>
						<xsd:enumeration value="손료"/>
						<xsd:enumeration value="표준시장단가"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="자원코드" type="하위코드형식"/>
			<xsd:element name="계산제외">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="품명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="수량" type="xsd:double"/>
			<xsd:element name="재료비단가" type="xsd:double"/>
			<xsd:element name="노무비단가" type="xsd:double"/>
			<xsd:element name="경비단가" type="xsd:double"/>
			<xsd:element name="재료비" type="xsd:double"/>
			<xsd:element name="노무비" type="xsd:double"/>
			<xsd:element name="경비" type="xsd:double"/>
			<xsd:element name="관급">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="손료코드군" type="손료코드군형식" minOccurs="0"/>
			<xsd:element name="손료계산비목구분" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="재료비"/>
						<xsd:enumeration value="노무비"/>
						<xsd:enumeration value="경비"/>
						<xsd:enumeration value="합계"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="손료결과비목구분" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="재료비"/>
						<xsd:enumeration value="노무비"/>
						<xsd:enumeration value="경비"/>
						<xsd:enumeration value="합계"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="손료적용요율" type="xsd:double" minOccurs="0"/>
			<xsd:element name="노임산출근거" type="노임산출근거형식" minOccurs="0"/>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="일위대가형식">
		<xsd:sequence>
			<xsd:element name="일위대가코드" type="세부공종코드형식"/>
			<xsd:element name="번호" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="품명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="재료비" type="xsd:double"/>
			<xsd:element name="노무비" type="xsd:double"/>
			<xsd:element name="경비" type="xsd:double"/>
			<xsd:element name="비목구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="재료비"/>
						<xsd:enumeration value="노무비"/>
						<xsd:enumeration value="경비"/>
						<xsd:enumeration value="합계"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
			<xsd:element name="일위대가상세" type="일위대가상세형식" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="중기단가산출형식">
		<xsd:sequence>
			<xsd:element name="중기단가산출코드" type="세부공종코드형식"/>
			<xsd:element name="번호" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="품명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="재료비" type="xsd:double"/>
			<xsd:element name="노무비" type="xsd:double"/>
			<xsd:element name="경비" type="xsd:double"/>
			<xsd:element name="비목구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="재료비"/>
						<xsd:enumeration value="노무비"/>
						<xsd:enumeration value="경비"/>
						<xsd:enumeration value="합계"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="중기단가산출식" type="xsd:string"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="기계경비형식">
		<xsd:sequence>
			<xsd:element name="기계경비코드" type="기계경비코드형식"/>
			<xsd:element name="번호" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="품명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="작업시간">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="E0"/>
						<xsd:enumeration value="E1"/>
						<xsd:enumeration value="E2"/>
						<xsd:enumeration value="E3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="작업장소" type="xsd:string"/>
			<xsd:element name="재료비" type="xsd:double"/>
			<xsd:element name="노무비" type="xsd:double"/>
			<xsd:element name="경비" type="xsd:double"/>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
			<xsd:element name="기계경비상세" type="기계경비상세" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="자재형식">
		<xsd:sequence>
			<xsd:element name="자재코드" type="자재코드형식"/>
			<xsd:element name="품명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="재료비단가" type="xsd:double"/>
			<xsd:element name="인도조건구분" type="인도조건구분형식" minOccurs="0"/>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
			<xsd:element name="조사처별단가" type="조사처별단가형식" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="노무형식">
		<xsd:sequence>
			<xsd:element name="노무코드" type="노무코드형식"/>
			<xsd:element name="품명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="노무비단가" type="xsd:double"/>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="경비항목형식">
		<xsd:sequence>
			<xsd:element name="경비항목코드" type="경비항목코드형식"/>
			<xsd:element name="경비구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="일반경비"/>
						<xsd:enumeration value="견적항목"/>
						<xsd:enumeration value="건설기계"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="품명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="통화구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="대한민국_천원"/>
						<xsd:enumeration value="미국_1USD"/>
						<xsd:enumeration value="유럽연합_1EUR"/>
						<xsd:enumeration value="일본_100엔"/>
						<xsd:enumeration value=""/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="재료비단가" type="xsd:double"/>
			<xsd:element name="노무비단가" type="xsd:double"/>
			<xsd:element name="경비단가" type="xsd:double"/>
			<xsd:element name="외화경비단가" type="xsd:double" minOccurs="0"/>
			<xsd:element name="상각비계수" type="xsd:double" minOccurs="0"/>
			<xsd:element name="정비비계수" type="xsd:double" minOccurs="0"/>
			<xsd:element name="관리비계수" type="xsd:double" minOccurs="0"/>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="조사처별단가" type="조사처별단가형식_경비" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="조사처별단가형식">
		<xsd:sequence>
			<xsd:element name="상호">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="전화번호">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="13"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="재료비단가" type="xsd:double"/>
			<xsd:element name="인도조건구분" type="인도조건구분형식" minOccurs="0"/>
			<xsd:element name="비고" type="비고형식"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="조사처별단가형식_경비">
		<xsd:sequence>
			<xsd:element name="상호">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="전화번호">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="13"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="재료비단가" type="xsd:double"/>
			<xsd:element name="노무비단가" type="xsd:double"/>
			<xsd:element name="경비단가" type="xsd:double"/>
			<xsd:element name="인도조건구분" type="인도조건구분형식" minOccurs="0"/>
			<xsd:element name="비고" type="비고형식"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="내역코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:pattern value="([A-Z0-9])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="공사내역서형식">
		<xsd:sequence>
			<xsd:element name="공사제경비" type="공사제경비형식"/>
			<xsd:element name="단일공사내역서" type="단일공사내역서형식" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="단일공사내역서형식">
		<xsd:sequence>
			<xsd:element name="단일공사정보" type="단일공사정보형식"/>
			<xsd:element name="내역서" type="공종형식" maxOccurs="unbounded"/>
			<xsd:element name="일위대가" type="일위대가형식" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="중기단가산출" type="중기단가산출형식" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="기계경비" type="기계경비형식" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="자재" type="자재형식" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="노무" type="노무형식" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="경비항목" type="경비항목형식" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="실적단가" type="실적단가형식" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="제경비" type="공사제경비형식" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="공종형식">
		<xsd:sequence>
			<xsd:element name="내역서번호" type="내역공종코드형식"/>
			<xsd:element name="공종구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="미확정설계공종(PS)"/>
						<xsd:enumeration value="제요율적용제외공종"/>
						<xsd:enumeration value="관급자재공종"/>
						<xsd:enumeration value="일반공종"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="계산제외">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="공종번호" type="번호형식"/>
			<xsd:element name="공종명" type="품명형식"/>
			<xsd:element name="재료비" type="xsd:double"/>
			<xsd:element name="노무비" type="xsd:double"/>
			<xsd:element name="경비" type="xsd:double"/>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
			<xsd:element name="세부공종" type="세부공종형식" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="세부공종형식">
		<xsd:sequence>
			<xsd:element name="세부공종코드" type="내역서코드형식"/>
			<xsd:element name="자원구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="자재"/>
						<xsd:enumeration value="노무"/>
						<xsd:enumeration value="경비항목"/>
						<xsd:enumeration value="일위대가"/>
						<xsd:enumeration value="중기단가산출"/>
						<xsd:enumeration value="기계경비"/>
						<xsd:enumeration value="실적공사비"/>
						<xsd:enumeration value="시장시공가격"/>
						<xsd:enumeration value="손료"/>
						<xsd:enumeration value="텍스트"/>
						<xsd:enumeration value="표준시장단가"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="계산제외">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="세부공종번호" type="번호형식"/>
			<xsd:element name="세부공종명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="수량" type="xsd:double"/>
			<xsd:element name="재료비단가" type="xsd:double"/>
			<xsd:element name="노무비단가" type="xsd:double"/>
			<xsd:element name="경비단가" type="xsd:double"/>
			<xsd:element name="재료비" type="xsd:double"/>
			<xsd:element name="노무비" type="xsd:double"/>
			<xsd:element name="경비" type="xsd:double"/>
			<xsd:element name="관급">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="자재구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="구분없음"/>
						<xsd:enumeration value="분리발주"/>
						<xsd:enumeration value="주요자재"/>
						<xsd:enumeration value="일반자재"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="세부공종구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="일반내역"/>
						<xsd:enumeration value="무대내역"/>
						<xsd:enumeration value="PS내역"/>
						<xsd:enumeration value="TAB내역"/>
						<!--<xsd:enumeration value="관급자재" />-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="손료코드군" type="손료코드군형식" minOccurs="0"/>
			<xsd:element name="손료계산비목구분" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="재료비"/>
						<xsd:enumeration value="노무비"/>
						<xsd:enumeration value="경비"/>
						<xsd:enumeration value="합계"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="손료결과비목구분" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="재료비"/>
						<xsd:enumeration value="노무비"/>
						<xsd:enumeration value="경비"/>
						<xsd:enumeration value="합계"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="손료적용요율" type="xsd:double" minOccurs="0"/>
			<xsd:element name="손료처리자리수" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="10"/>
						<xsd:enumeration value="100"/>
						<xsd:enumeration value="1000"/>
						<xsd:enumeration value="10000"/>
						<xsd:enumeration value="100000"/>
						<xsd:enumeration value="1000000"/>
						<xsd:enumeration value="10000000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="손료처리방법" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="C"/>
						<xsd:enumeration value="R"/>
						<xsd:enumeration value="U"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="노임산출근거" type="노임산출근거형식" minOccurs="0"/>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
			<xsd:element name="WBS코드1" type="비고형식" minOccurs="0"/>
			<xsd:element name="WBS코드2" type="비고형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="단일공사정보형식">
		<xsd:sequence>
			<xsd:element name="공사구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="토목공사"/>
						<xsd:enumeration value="건축공사"/>
						<xsd:enumeration value="설비공사"/>
						<xsd:enumeration value="전기공사"/>
						<xsd:enumeration value="통신공사"/>
						<xsd:enumeration value="조경공사"/>
						<xsd:enumeration value="소방공사"/>
						<xsd:enumeration value="문화재수리공사"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="공사설명">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="전역변수" type="전역변수형식" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="전역변수형식">
		<xsd:sequence>
			<xsd:element name="변수명">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
						<xsd:pattern value="[a-zA-Z_]+[0-9a-zA-Z_]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="실수값" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="개별노임산출형식">
		<xsd:sequence>
			<xsd:element name="노무코드">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16"/>
						<xsd:minLength value="1"/>
						<xsd:pattern value="[A-Z0-9]+"/>
						<!--<xsd:pattern value="[L]{1}[A-Z0-9]+" /> 표준노무코드 적용시-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="공량" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="직접공사비정보">
		<xsd:sequence>
			<xsd:element name="직접공사비_재료비" type="xsd:long"/>
			<xsd:element name="직접공사비_노무비" type="xsd:long"/>
			<xsd:element name="직접공사비_경비" type="xsd:long"/>
			<xsd:element name="미확정설계공종_금액" type="xsd:long"/>
			<xsd:element name="제요율적용제외공종_금액" type="xsd:long"/>
			<xsd:element name="관급자재공종_금액" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="제경비항목정보">
		<xsd:sequence>
			<xsd:element name="세부공종코드" type="내역코드형식"/>
			<xsd:element name="집계항목여부" type="xsd:boolean"/>
			<xsd:element name="비목명" type="품명형식"/>
			<xsd:element name="적용산식">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="적용요율" type="xsd:double"/>
			<xsd:element name="추가금액" type="xsd:double"/>
			<xsd:element name="산출금액" type="xsd:double"/>
			<xsd:element name="적용산식설명">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="공사제경비형식">
		<xsd:sequence>
			<xsd:element name="제경비항목" type="제경비항목정보" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="기계경비상세">
		<xsd:sequence>
			<xsd:element name="자원구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="자재"/>
						<xsd:enumeration value="노무"/>
						<xsd:enumeration value="경비항목"/>
						<xsd:enumeration value="기계경비"/>
						<xsd:enumeration value="손료"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="자원코드" type="하위코드형식"/>
			<xsd:element name="계산제외">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="품명" type="품명형식"/>
			<xsd:element name="규격" type="규격형식"/>
			<xsd:element name="단위" type="단위형식"/>
			<xsd:element name="수량" type="xsd:double"/>
			<xsd:element name="재료비단가" type="xsd:double"/>
			<xsd:element name="노무비단가" type="xsd:double"/>
			<xsd:element name="경비단가" type="xsd:double"/>
			<xsd:element name="재료비" type="xsd:double"/>
			<xsd:element name="노무비" type="xsd:double"/>
			<xsd:element name="경비" type="xsd:double"/>
			<xsd:element name="손료코드군" type="손료코드군형식" minOccurs="0"/>
			<xsd:element name="손료계산비목구분" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="재료비"/>
						<xsd:enumeration value="노무비"/>
						<xsd:enumeration value="경비"/>
						<xsd:enumeration value="합계"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="손료결과비목구분" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="재료비"/>
						<xsd:enumeration value="노무비"/>
						<xsd:enumeration value="경비"/>
						<xsd:enumeration value="합계"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="손료적용요율" type="xsd:double" minOccurs="0"/>
			<xsd:element name="상각비할증" type="xsd:double" minOccurs="0"/>
			<xsd:element name="정비비할증" type="xsd:double" minOccurs="0"/>
			<xsd:element name="관리비할증" type="xsd:double" minOccurs="0"/>
			<xsd:element name="비고" type="비고형식"/>
			<xsd:element name="기타" type="기타형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="사용자정의_시간당노임산출정보">
		<xsd:sequence>
			<xsd:element name="사용자정의코드" type="시간당노임산출코드형식"/>
			<xsd:element name="노임산출" type="노임산출형식"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="번호형식">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="내역서코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
			<xsd:pattern value="([0-9A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="17"/>
			<xsd:pattern value="([0-9A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="실적공사비코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="[ACEMT]+[0-9A-Z]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="세부공종코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="[0-9A-Z]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="기계경비코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="17"/>
			<xsd:pattern value="([0-9A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="자재코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="16"/>
			<xsd:pattern value="([0-9A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="노무코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="16"/>
			<xsd:pattern value="([0-9A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="경비항목코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="16"/>
			<xsd:pattern value="([0-9A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="하위코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="17"/>
			<xsd:pattern value="([0-9A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="시간당노임산출코드형식">
		<xsd:restriction base="xsd:ID">
			<xsd:length value="2"/>
			<xsd:pattern value="([H][A-Z])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="품명형식">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="규격형식">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="손료코드군형식">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="단위형식">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="비고형식">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="기타형식">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="손료산출식형식">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="내역공종코드형식">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="([0-9][0-9])+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="노임산출형식">
		<xsd:sequence>
			<xsd:element name="산출식" type="손료산출식형식"/>
			<xsd:element name="계산값" type="xsd:double"/>
			<xsd:element name="적용구분">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="산출식"/>
						<xsd:enumeration value="계산값"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="기계경비산출형식">
		<xsd:sequence>
			<xsd:element name="환율" type="환율형식" minOccurs="0"/>
			<xsd:element name="시간당손료산출" type="시간당손료산출형식" minOccurs="0"/>
			<xsd:element name="시간당노임산출" type="시간당노임산출형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="환율형식">
		<xsd:sequence>
			<xsd:element name="미국_1USD" type="xsd:double"/>
			<xsd:element name="유럽연합_1EUR" type="xsd:double"/>
			<xsd:element name="일본_100엔" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="시간당손료산출형식">
		<xsd:sequence>
			<xsd:element name="E0-주간" type="손료산출식형식" minOccurs="0"/>
			<xsd:element name="E1-야간" type="손료산출식형식" minOccurs="0"/>
			<xsd:element name="E2-주야간2교대" type="손료산출식형식" minOccurs="0"/>
			<xsd:element name="E3-주야간3교대" type="손료산출식형식" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="시간당노임산출형식">
		<xsd:sequence>
			<xsd:element name="H0-일반구간" type="노임산출형식" minOccurs="0"/>
			<xsd:element name="H1-터널구간" type="노임산출형식" minOccurs="0"/>
			<xsd:element name="H2-장대터널" type="노임산출형식" minOccurs="0"/>
			<xsd:element name="H3-펌프준설선" type="노임산출형식" minOccurs="0"/>
			<xsd:element name="H4-그래브준설선" type="노임산출형식" minOccurs="0"/>
			<xsd:element name="H5-버킷준설선" type="노임산출형식" minOccurs="0"/>
			<xsd:element name="H_-사용자정의" type="사용자정의_시간당노임산출정보" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="인도조건구분형식">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="일반"/>
			<xsd:enumeration value="납품장소도"/>
			<xsd:enumeration value="납품장소상차도"/>
			<xsd:enumeration value="납품장소하차도"/>
			<xsd:enumeration value="납품장소입고도"/>
			<xsd:enumeration value="현장설치도"/>
			<xsd:enumeration value="생산공장도(상차제외)"/>
			<xsd:enumeration value="최기역레일도"/>
			<xsd:enumeration value="운반구상차도"/>
			<xsd:enumeration value="분공장도(상차제외)"/>
			<xsd:enumeration value="수요기관 부착도"/>
			<xsd:enumeration value="부두도"/>
			<xsd:enumeration value="하치장도(상차제외)"/>
			<xsd:enumeration value="레일도(하차제외)"/>
			<xsd:enumeration value="생산공장공장현장도"/>
			<xsd:enumeration value="분공장 공시현장도"/>
			<xsd:enumeration value="차량주입도"/>
			<xsd:enumeration value="수요기관탱크주입도"/>
			<xsd:enumeration value="생산공장상차도"/>
			<xsd:enumeration value="하차도"/>
			<xsd:enumeration value="공판장, 특약점및대리점도"/>
			<xsd:enumeration value="공장상차도"/>
			<xsd:enumeration value="점포상차도"/>
			<xsd:enumeration value="창고문전상차도"/>
			<xsd:enumeration value="B/L도"/>
			<xsd:enumeration value="비축창고도"/>
			<xsd:enumeration value="납품장소창고입고도"/>
			<xsd:enumeration value="분공장상차도"/>
			<xsd:enumeration value="공사현장상차도"/>
			<xsd:enumeration value="공사현장하차도"/>
			<xsd:enumeration value="납품장소차상도"/>
			<xsd:enumeration value="납품장소창고문전차상도"/>
			<xsd:enumeration value="납품장소창고문전하차도"/>
			<xsd:enumeration value="물품설치장소하차도"/>
			<xsd:enumeration value="하치장상차도"/>
			<xsd:enumeration value="부두선상도"/>
			<xsd:enumeration value="화차상차도"/>
			<xsd:enumeration value="대농민농협공급도"/>
			<xsd:enumeration value="종합농협구매도"/>
			<xsd:enumeration value="생산공장생산라인주입도"/>
			<xsd:enumeration value="수집상차도"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>